*.pdf
*.aux
*.dvi
*.out
*.log
_region.prv
TeX Live 2013
auto
*.toc
*.blg
*.bbl
*.synctex.gz
*.nav
*.snm
.directory
epsgroup_0_collage.eps
epsgroup_10_collage.eps
epsgroup_11_collage.eps
epsgroup_12_collage.eps
epsgroup_13_collage.eps
epsgroup_14_collage.eps
epsgroup_15_collage.eps
epsgroup_16_collage.eps
epsgroup_17_collage.eps
epsgroup_18_collage.eps
epsgroup_19_collage.eps
epsgroup_1_collage.eps
epsgroup_20_collage.eps
epsgroup_21_collage.eps
epsgroup_22_collage.eps
epsgroup_2_collage.eps
epsgroup_3_collage.eps
epsgroup_4_collage.eps
epsgroup_5_collage.eps
epsgroup_6_collage.eps
epsgroup_7_collage.eps
epsgroup_8_collage.eps
epsgroup_9_collage.eps

