*\.o
*\.lo
*\.pyc
*\.la
config.h
Makefile
.deps
.libs
autom4te.cache
*~
config.log
config.status
*\.a
libtool
spline_view
stamp-h1
knot_diagram
plcompEric
*\.in
compile
aclocal.m4
missing
plcurvature
resample
depcomp
configure
config.guess
config.sub
install-sh
ltmain.sh
*\.so
*\.so\.*
m4
*_wrap\.c
zkdata
zmatrix
zpoints
codedir*
plCurve.py
py-compile
plcurve.py
INSTALL
/src/momentpolytope
/src/mrlocs
/src/plcrwalk
/src/pd.py
/src/ropelength
/src/roundout_rl
/src/struts
/src/tsmcmc.py
/test-driver
/cclassify
