*\.o
*\.lo
*\.pyc
*\.la
config.h
Makefile
.deps
.libs
autom4te.cache
*~
config.log
config.status
*\.a
libtool
spline_view
stamp-h1
knot_diagram
plcompEric
*\.in
compile
aclocal.m4
missing
plcurvature
resample
depcomp
configure
config.guess
config.sub
install-sh
ltmain.sh
*\.so
*\.so\.*
m4
*_wrap\.c
zkdata
zmatrix
zpoints
codedir*
plCurve.py
py-compile
plcurve.py
INSTALL
/src/momentpolytope
/src/mrlocs
/src/plcrwalk
/src/pd.py
/src/ropelength
/src/roundout_rl
/src/struts
/src/tsmcmc.py
/test-driver
/cclassify
*\.aux
*\.synctex\.gz
*\.out
*\.bbl
*\.blg
*\.log
auto/
*\.toc
*eps-converted-to\.pdf
*\.ambig\.pdstor
*\.counts\.tsv
*\.nav
*\.pdf\.orig
*\.snm

# tools contains some executables that we don't want in git

tools/orientedshadows
tools/knottype
tools/processpdstor
tools/randomknot
tools/shadow2diagram
tools/TAGS

# .trs files are test results; we don't want these tracked

test/*.trs

# The make check tests generate a lot of executables that we don't want in git

test/test_2crossing
test/test_bad_homfly
test/test_crossingops
test/test_diagram_isotopic
test/test_dihedral
test/test_findpoca
test/test_homfly
test/test_hypersimplex_sampling
test/test_invariants
test/test_isomorphism
test/test_k_ascent_permutations
test/test_knottheory
test/test_levels
test/test_minrad
test/test_multidx
test/test_operations
test/test_orientation
test/test_pdcode
test/test_pdcontainer
test/test_pdpack
test/test_pdstorage
test/test_perm
test/test_readkt
test/test_splitdiagram
test/test_struts
test/test_tangle_regenerate
test/test_tangle_slide_input
test/test_tangle_slide_ops
test/call_check
test/ccode_test
test/csu_random_polygon_test
test/eq_primitives_test
test/exit_failure_tests
test/hopf_test
test/loopclosure_test
test/nn_test
test/octrope_timing
test/randompolygon_test
test/symmetry_test
test/test.pdstor
src/carbonizepd
src/computepd
src/connectsum
src/filterpd
src/joinpd
src/randompolygon
src/splitpd
src/TAGS
test/3samples.csv
test/6a5and6n1.kt
test/test_random_sap
test/TAGS

# The planarity sublibrary generates test results and some executables

planarity/c/.dirstamp
planarity/planarity
planarity/test-driver
planarity/test-samples.sh
planarity/test-samples.sh.trs
planarmap/planarmap

# Judy generates a lot of copies of its source files in subdirectories
# It's (at best) unneccesary to track them in git and maybe dangerous

judy/src/Judy1/Judy1ByCount.c
judy/src/Judy1/Judy1Cascade.c
judy/src/Judy1/Judy1Count.c
judy/src/Judy1/Judy1CreateBranch.c
judy/src/Judy1/Judy1Decascade.c
judy/src/Judy1/Judy1First.c
judy/src/Judy1/Judy1FreeArray.c
judy/src/Judy1/Judy1InsertBranch.c
judy/src/Judy1/Judy1MallocIF.c
judy/src/Judy1/Judy1MemActive.c
judy/src/Judy1/Judy1MemUsed.c
judy/src/Judy1/Judy1Next.c
judy/src/Judy1/Judy1NextEmpty.c
judy/src/Judy1/Judy1Prev.c
judy/src/Judy1/Judy1PrevEmpty.c
judy/src/Judy1/Judy1Set.c
judy/src/Judy1/Judy1SetArray.c
judy/src/Judy1/Judy1Tables.c
judy/src/Judy1/Judy1TablesGen
judy/src/Judy1/Judy1TablesGen.c
judy/src/Judy1/Judy1Test.c
judy/src/Judy1/Judy1Unset.c
judy/src/Judy1/j__udy1Test.c
judy/src/JudyL/JudyLByCount.c
judy/src/JudyL/JudyLCascade.c
judy/src/JudyL/JudyLCount.c
judy/src/JudyL/JudyLCreateBranch.c
judy/src/JudyL/JudyLDecascade.c
judy/src/JudyL/JudyLDel.c
judy/src/JudyL/JudyLFirst.c
judy/src/JudyL/JudyLFreeArray.c
judy/src/JudyL/JudyLGet.c
judy/src/JudyL/JudyLIns.c
judy/src/JudyL/JudyLInsArray.c
judy/src/JudyL/JudyLInsertBranch.c
judy/src/JudyL/JudyLMallocIF.c
judy/src/JudyL/JudyLMemActive.c
judy/src/JudyL/JudyLMemUsed.c
judy/src/JudyL/JudyLNext.c
judy/src/JudyL/JudyLNextEmpty.c
judy/src/JudyL/JudyLPrev.c
judy/src/JudyL/JudyLPrevEmpty.c
judy/src/JudyL/JudyLTables.c
judy/src/JudyL/JudyLTablesGen
judy/src/JudyL/JudyLTablesGen.c
judy/src/JudyL/j__udyLGet.c

# the build directory is system-specific and shouldn't be under git

build

# the .idea directory contains settings.xml which should be ignored.

./.idea/settings.xml